<div class="container text-center my-3">
  <h1 class="text-primary">CHÀO MỪNG BẠN ĐẾN VỚI CRUD DOTNET</h1>
  <div class="row mt-3">
    <div class="col">
      <button type="button" class="btn btn-outline-success">CREATE</button>
    </div>
    <div class="col">
      <button type="button" class="btn btn-outline-secondary">RESEARCH</button>
    </div>
    <div class="col">
      <button type="button" class="btn btn-outline-primary">UPDATE</button>
    </div>
    <div class="col">
      <button type="button" class="btn btn-outline-danger">DELETE</button>
    </div>
  </div>
  <div class="w-50 mx-auto my-3 border-quo">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Handle</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>mdo</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>fat</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td colspan="2">Larry the Bird</td>
          <td>twitter</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
